div.container {
    width: 100%;
    border: 3px solid lightgrey;
}

header{
	    padding: 1em;
    clear: lft;
    text-align: center;
	border: 1px solid lightgrey;

}

 footer {
    padding: 1em;
    color: grey;
    background-color: lightgrey;
    clear: left;
    text-align: center;
}

form.sha {
    float: left;
    max-width: 300px;
    margin: 0;
    padding: 1em;

}



article {
	border-left: 1px solid lightgrey;
    margin-left: 170px;
    padding: 1em;
    overflow: hidden;
}